/* TODO: Define styles for dark mode */

/* TODO: Ensure text and background colors adjust for dark mode */
.light {
  background-color: #efedea;
  color: #333b3c;
}

.dark {
  background-color: #333b3c;
  color: #efefec;
}